@import "./base.css";

#app {
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

}

.app-contain {
  width: 80%;
  margin-top: 1%;
}

.fx {
  display: flex;
}

.fx-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fx-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fx-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
